#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Style for the overlay (background behind the modal) */
.ReactModal__Overlay {
  /* Customize overlay styles here */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Style for the modal content */
.ReactModal__Content {
  background-color: #646cff;
  border-radius: 8px;
  padding: 32px;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 50px 100px -20px, rgba(255, 255, 255, 0.425) 0px 30px 60px -30px, rgba(0, 0, 0, 0.842) 0px -2px 6px 0px inset;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  display: grid;
  justify-content: center;
  width: 615px;
  height: 300px;
  top: 129px;
  margin-left: 447px;
}

/* Style for the modal title */
.ModalTitle {
  /* Customize modal title styles here */
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style for the modal body */
.ModalBody {
  /* Customize modal body styles here */
  font-size: 16px;
  line-height: 1.5; 
}

/* Style for the close button */
.ModalCloseButton {
  /* Customize close button styles here */ 
  border: none;
  background-color: transparent;
  width: 30px; 
  position: absolute;
  right: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ModalCloseButton:hover {
  background-color: #383535;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
