:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lds-ellipsis {
  /* display:block;  */
  /* position: absolute; */
  /* top: 10px;  */
  width: 80px;
  height: 30px;
  /* margin-top: 30px; */
}
.lds-ellipsis div {
  position: absolute;
  top: 17px;
  margin-left: 24px; 
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
 


#pop-message{ 
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100%; 
  text-align: center;
  font-size: larger;
  z-index: 99;
}
.success{   
  background-color: rgb(30, 212, 151);
  color: #1a1a1a;
}

.warn{ 
  background-color: rgb(231, 127, 127);
  color: #1a1a1a; 
}
 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {  
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  width: 150px;
  height: 53px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.done {  
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  width: 150px;
  height: 53px;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(20, 243, 150);
  border-color: #ffffff;
  color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  background-color: #646cff;   

} 
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 
.button-85 {
  padding: 0.8em 2em;
  border: none;
  outline: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 40px 10px; */
  }
  
.donee {
  padding: 0.8em 2em;
  border: none;
  outline: none;
  text-decoration: none;
  font-weight: 650; 
  color: rgb(0, 0, 0);
  background-color: rgb(20, 243, 150);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;
  }
  
  .button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
  }
  
  .button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
  }
  .rgb-btn{
    width: 145px; 
    margin: auto;
  }  
   

.inputs input{
  width: 500px;
  height: 50px;
  border-radius: 5px; 
  border: 3px solid transparent;
  background-color: rgb(48, 45, 45);
  font-size: larger;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 0.5em rgb(0, 0, 0);
}

.update-warn{
  position: absolute;
  top: 0px; 
  margin: auto;
  left: 90px;
  background-color: #08a374;
  width: 500px;
  text-align: center;
  border-radius: 5px
}
input.error {
  -webkit-animation: shake 0.2s ease-in-out 0s 2;
          animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}

@-webkit-keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
} 

.todoChild{
  background-color: #646cff;
  border-radius: 4px; 
  margin-top: 20px;
  width: 455px;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 50px 100px -20px, rgba(255, 255, 255, 0.425) 0px 30px 60px -30px, rgba(0, 0, 0, 0.842) 0px -2px 6px 0px inset;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.update-todo-section{
  background-color: #258bff;

  width: 680PX;
  height: 330PX;
  border-radius: 5px;
  position: absolute;
  margin-right: 383px;
  margin-top: 190px;
  right: 1px;
  margin-left: 20px;
  display: grid;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 50px 100px -20px, rgba(255, 255, 255, 0.425) 0px 30px 60px -30px, rgba(0, 0, 0, 0.842) 0px -2px 6px 0px inset;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.updatedtodo-inputs{
  margin-top: 50px; 
}
.update-todo{
  position: fixed;
}
.updatetodo-btn{
  position: absolute;
  top: 250px;
  margin-left:270px; 
}
.updatetodo-btn-done{
  position: absolute;
  top: 250px;
  margin-left:270px; 
  background-color: rgb(32, 236, 158);
}

.updatetodo-btn:hover{
  background-color: #646cff;   
  color:black;
}
.displaytodos{
  display: grid;
  justify-content: center;
  width: 100%;
}

.sidebar{
  margin-left: 200px;
}

.all-todos{
  display: flex;
  justify-content: center;
}

.display-todos{
  padding-right: 0px;
}
.right-bar{ 
  top: 100px;
  right: 0px;
  position: fixed; 
  height: 20px;
}

.todolist{ 
  background-color: #747bff; 
  overflow-y: auto;
  display: grid;
  position: relative;
  overflow-x: hidden;
  color: #1a1a1a;
  max-height: 400px; color: #1a1a1a;  
  border-radius: 4px;
  display: flex;
  max-height: 550px;
  width: 350px ;
  margin-right: 30px;
  border: 5px solid transparent; 
  justify-content: left;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 20px 100px -20px, rgba(255, 255, 255, 0.425) 0px 30px 60px -30px, rgba(0, 0, 0, 0.842) 0px -2px 6px 0px inset;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
 
.todolist ul:hover li {
  opacity: 0.5;
}
.todolist ul li {
  list-style: none;
  padding: 10px ; 
  border-radius: 5px;
  text-align: justify;
  margin-top: 2px; 
  width: 260px;
  background: #fff;
  box-shadow: rgba(116, 67, 231, 0.767) 0px 50px 100px -20px, rgba(88, 25, 235, 0.425) 0px 30px 60px -30px, rgba(100, 145, 230, 0.938) 0px -2px 6px 0px inset;
  transition: transform 0.5s;
}
.todolist ul li::after{
  margin-bottom: 20px;
}
.todolist ul li:hover {
  transform: scale(1.1);
  z-index: 5;
  background: #25bcff;
  width: 280px;
  padding-right: 5px;
  margin-left: -12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  opacity: 1; 
  font-size: larger;
}

/* Hide default scrollbar */
.todolist::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.todolist::-webkit-scrollbar-track {
  background: transparent
}

/* Handle */
.todolist::-webkit-scrollbar-thumb {
  background: #d7dbdd;
  border-radius: 4px;
}

/* Handle on hover */
.todolist::-webkit-scrollbar-thumb:hover {
  background: #868282;
} 
.todolist ul li span {
  width: 20px ;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #25bcff;
  color: #f5f2f2;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px);
}
.todolist ul li:hover span {
  background: #fff; 
  color: #25bcff;
}

.todolist ul li .actions {
  position: absolute;
  top: 7px;
  right: 10px; 
  display: none; 
}

.todolist ul li:hover .actions{
  display: block; 
}
.list-btns{
  color: #fff;
  font-size: medium;
  background: #25bcff; 
  border: none;
  cursor: pointer; 
  transition: font-size 0.3s ease;
}

.list-btns:hover{
  font-size: larger; 
}

.check{ 
  border-radius: 5px;
  margin-left: 7px;
  transition: font-size 0.5s ease;

}
.check:hover{
  background-color: green;
  border-radius: 30px;
  font-size: larger;
}

.list-btns:first-child{
  margin-right: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
