:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
.success{ 
  position: fixed;
  display: flex;
  top: 1px; 
  width: 120%;
  justify-content: center;
  margin-left: -21%; 
  font-size: larger;
  background-color: rgb(30, 212, 151);
  color: #1a1a1a;
}
.warn{
  position: fixed;
  /* display: flex; */
  top: 1px; 
  width: 80%;
  /* justify-content: center; */
  text-align: center;
  font-size: larger;
  /* margin-left: 1%;  */
  background-color: rgb(231, 127, 127);
  color: #1a1a1a;
  z-index: 99;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  width: 150px;
  height: 53px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  background-color: #646cff;   

}
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 

.inputs input{
  width: 400px;
  height: 40px;
  font-size: larger;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 0.5em rgb(0, 0, 0);
}

  
input.error {
  -webkit-animation: shake 0.2s ease-in-out 0s 2;
          animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}

@-webkit-keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
} 

.todoChild{
  background-color: #646cff;
  border-radius: 4px; 
  margin-top: 20px;
  width: 455px;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 50px 100px -20px, rgba(255, 255, 255, 0.425) 0px 30px 60px -30px, rgba(0, 0, 0, 0.842) 0px -2px 6px 0px inset;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.updatedtodo-inputs{
  margin-top: 50px;
}
.updatetodo-btn{
  margin-left: 130px;
}
.updatetodo-btn:hover{
  background-color: #30e0ab;
  color:black;
}
.displaytodos{
  display: grid;
  justify-content: center;
  width: 100%;
}

.sidebar{
  margin-left: 200px;
}

.all-todos{
  display: flex;
  justify-content: center;
}

.display-todos{
  padding-right: 0px;
}
.right-bar{
  padding-left: 420px;
  top: 200px;
  margin-top: 0px;
  margin-left: 820px;
  position: fixed;
}
 

.todolist{
  background-color: #747bff;
  color: #1a1a1a;  
  border-radius: 4px;
  display: flex;
  width: 390px ;
  margin-right: 120px;
  justify-content: left;
  box-shadow: rgba(255, 255, 255, 0.363) 0px 50px 100px -20px, rgba(255, 255, 255, 0.425) 0px 30px 60px -30px, rgba(0, 0, 0, 0.842) 0px -2px 6px 0px inset;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.todolist ul:hover li {
  opacity: 0.5;
}
.todolist ul li {
  list-style: none;
  padding: 10px ;
  border-radius: 5px;
  text-align: justify;
  margin-top: 2px; 
  width: 280%;
  background: #fff;
  box-shadow: rgba(116, 67, 231, 0.767) 0px 50px 100px -20px, rgba(88, 25, 235, 0.425) 0px 30px 60px -30px, rgba(100, 145, 230, 0.938) 0px -2px 6px 0px inset;
  transition: transform 0.5s;
}
.todolist ul li:hover {
  transform: scale(1.1);
  z-index: 5;
  background: #25bcff;
  /* width: 230%; */
  padding-right: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  opacity: 1; 
  font-size: larger;
}
.todolist ul li span {
  width: 20px ;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #25bcff;
  color: #f5f2f2;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px);
}
.todolist ul li:hover span {
  background: #fff; 
  color: #25bcff;
}

.todolist ul li .actions {
  position: absolute;
  top: 7px;
  right: 10px; 
  display: none; 
}

.todolist ul li:hover .actions{
  display: block; 
}
.list-btns{
  color: #fff;
  font-size: medium;
  background: #25bcff; 
  border: none;
  cursor: pointer; 
  transition: font-size 0.3s ease;
}

.list-btns:hover{
  font-size: larger; 
}

.check{
  /* background-color: rgb(83, 133, 226); */
  border-radius: 5px;
  margin-left: 7px;
  transition: font-size 0.5s ease;

}
.check:hover{
  background-color: green;
  border-radius: 30px;
  font-size: larger;
}

.list-btns:first-child{
  margin-right: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
